extends layout

block head

    script(type='text/javascript' src='js/zxcvbn-async.js')

block content
    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
        .panel.panel-default
            .panel-heading
                h1.panel-title Please register
            .panel-body
                form(id="form-register" method="post")
                    .form-group
                        input.form-control(type='text', placeholder='Username', name='username', id='username', required=true)
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="text", name="first_name", id="first_name" placeholder='First Name')
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="text", name="last_name", id="last_name" placeholder='Last Name')
                    .form-group
                        input.form-control(type="text", name="email", id="email", required=true, placeholder='E-Mail Address')
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="password" name="password" id="password", required=true, placeholder='Password')
                                .progress
                                    .progress-bar.bar-custom(id='progressbar' role='progressbar' aria-valuenow='40' aria-valuemax='100' aria-valuemin='0' style='width: 0%' )
                                script.
                                    $('#password').keyup(function() {
                                        var text = ['Weak Password', 'Weak', 'Medium', 'Strong', 'Very Strong'];
                                        var color = ['red', 'red', 'yellow', 'yellow','green'];
                                        var textcolor = ['red', 'white', 'black', 'white', 'white'];
                                        var textValue = $(this).val();
                                        var result = zxcvbn(textValue);
                                        var bar = $('#progressbar');
                                        bar.css('width', 25*result.score + '%');
                                        bar.css('background-color', color[result.score]);
                                        bar.css('color', textcolor[result.score]);
                                        bar.text(text[result.score]);
                                    });
                        .col-xs-12.col-sm-6.col-md-6
                            .form-group
                                input.form-control(type="password" name="confirm_password" id="confirm_password", required=true, placeholder='Confirm Password')
                    .form-group
                        button.form-control(type="submit" class='btn btn-custom' id='register') Register
                .alert.alert-danger(role='alert')
                    span.sr-only Error:
                    span #{message}



